<div *ngIf="isOpen" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-xl w-96">
      <h2 class="text-2xl font-bold mb-4">Confirmar Exclusão</h2>
      <p class="mb-4">Tem certeza que deseja excluir o produto "{{product.name}}"?</p>
      <div class="flex justify-end space-x-2">
        <button (click)="onCancel()" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300">Cancelar</button>
        <button (click)="onConfirm()" class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">Excluir</button>
      </div>
    </div>
  </div>
